*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto';
    background-color: rgb(229, 237, 240);
}

header{
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: white;
}

.title{
    display: inline-block;
    vertical-align: top;
}

.container{
    background-color: white;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 800px; 
    border-radius: 3px;
}

.buttons{
    
    padding-left: 70px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.button1{
    display: inline-block;
    background-color: rgb(14, 163, 255);
    color: white;
    font-size: 12px;
    padding: 8px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 3px;
}

.button2{
    display: inline-block;
    background-color: white;
    color: lightgray;
    border: solid;
    border-color: lightgray;
    font-size: 12px;
    padding: 8px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 3px
}

hr{
    border: solid rgb(229, 237, 240) ;
}

.task{
    padding-left: 70px;
    padding-top: 30px;
}

.newtask{
    margin-bottom: 20px;
}

.today{
    margin-bottom: 20px;
}

.upcoming{
    padding-bottom: 30px;
}

.circlegreen{
    display: inline-block;
    height: 17px;
    width: 17px;
    border: 1px solid green;
    border-radius: 50%;
    text-align: center;
    line-height: 17px;
    color: green;
    
}

.circlered{
    display: inline-block;
    height: 17px;
    width: 17px;
    border: 1px solid red;
    border-radius: 50%;
    text-align: center;
    line-height: 17px;
    color: red;
    
}

.text {
    display: inline-block;
    font-size: 14px;
    padding-top: 10px;
}

.tag{
    display: inline-block;
    margin-left: 5px;
    font-size: 10px;
    background-color: rgb(14, 163, 255);
    color: white;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;

}

.tagviolet{
    display: inline-block;
    margin-left: 5px;
    font-size: 10px;
    background-color: rgb(156, 114, 228);
    color: white;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;

}

.taggreen{
    display: inline-block;
    margin-left: 5px;
    font-size: 10px;
    background-color: rgb(100, 192, 169);
    color: white;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;

}

.tagorange{
    display: inline-block;
    margin-left: 5px;
    font-size: 10px;
    background-color: rgb(246, 158, 51);
    color: white;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;

}

.tagpink{
    display: inline-block;
    margin-left: 5px;
    font-size: 10px;
    background-color: rgb(216, 99, 161);
    color: white;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;

}

.taglightgreen{
    display: inline-block;
    margin-left: 5px;
    font-size: 10px;
    background-color: rgb(176, 201, 38);
    color: white;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;

}