*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto';
}

header{
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.title{
    display: inline-block;
    vertical-align: top;
}